In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
raw_data=pd.read_csv('ml_case_training_data.csv')
raw_data.head()

,id,activity_new,campaign_disc_ele,channel_sales,cons_12m,cons_gas_12m,cons_last_month,date_activ,date_end,date_first_activ,...,forecast_price_pow_p1,has_gas,imp_cons,margin_gross_pow_ele,margin_net_pow_ele,nb_prod_act,net_margin,num_years_antig,origin_up,pow_max
0,48ada52261e7cf58715202705a0451c9,esoiiifxdlbkcsluxmfuacbdckommixw,NaN,lmkebamcaaclubfxadlmueccxoimlema,309275,0,10025,2012-11-07,2016-11-06,NaN,...,58.995952,f,831.8,-41.76,-41.76,1,1732.36,3,ldkssxwpmemidmecebumciepifcamkci,180.000
1,24011ae4ebbe3035111d65fa7c15bc57,NaN,NaN,foosdfpfkusacimwkcsosbicdxkicaua,0,54946,0,2013-06-15,2016-06-15,NaN,...,40.606701,t,0.0,25.44,25.44,2,678.99,3,lxidpiddsbxsbosboudacockeimpuepw,43.648
2,d29c2c54acc38ff3c0614d0a653813dd,NaN,NaN,NaN,4660,0,0,2009-08-21,2016-08-30,NaN,...,44.311378,f,0.0,16.38,16.38,1,18.89,6,kamkkxfxxuwbdslkwifmmcsiusiuosws,13.800
3,764c75f661154dac3a6c254cd082ea7d,NaN,NaN,foosdfpfkusacimwkcsosbicdxkicaua,544,0,0,2010-04-16,2016-04-16,NaN,...,44.311378,f,0.0,28.60,28.60,1,6.60,6,kamkkxfxxuwbdslkwifmmcsiusiuosws,13.856
4,bba03439a292a1e166f80264c16191cb,NaN,NaN,lmkebamcaaclubfxadlmueccxoimlema,1584,0,0,2010-03-30,2016-03-30,NaN,...,44.311378,f,0.0,30.22,30.22,1,25.46,6,kamkkxfxxuwbdslkwifmmcsiusiuosws,13.200

In [3]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16096 entries, 0 to 16095
Data columns (total 32 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        16096 non-null  object
 1   activity_new              6551 non-null   object
 2   campaign_disc_ele         0 non-null      float64
 3   channel_sales             11878 non-null  object
 4   cons_12m                  16096 non-null  int64
 5   cons_gas_12m              16096 non-null  int64
 6   cons_last_month           16096 non-null  int64
 7   date_activ                16096 non-null  object
 8   date_end                  16094 non-null  object
 9   date_first_activ          3508 non-null   object
 10  date_modif_prod           15939 non-null  object
 11  date_renewal              16056 non-null  object
 12  forecast_base_bill_ele    3508 non-null   float64
 13  forecast_base_bill_year   3508 non-null   float64
 14  forecast_bill_12m         3508 non-null   float64
 15  forecast_cons             3508 non-null   float64
 16  forecast_cons_12m         16096 non-null  float64
 17  forecast_cons_year        16096 non-null  int64
 18  forecast_discount_energy  15970 non-null  float64
 19  forecast_meter_rent_12m   16096 non-null  float64
 20  forecast_price_energy_p1  15970 non-null  float64
 21  forecast_price_energy_p2  15970 non-null  float64
 22  forecast_price_pow_p1     15970 non-null  float64
 23  has_gas                   16096 non-null  object
 24  imp_cons                  16096 non-null  float64
 25  margin_gross_pow_ele      16083 non-null  float64
 26  margin_net_pow_ele        16083 non-null  float64
 27  nb_prod_act               16096 non-null  int64
 28  net_margin                16081 non-null  float64
 29  num_years_antig           16096 non-null  int64
 30  origin_up                 16009 non-null  object
 31  pow_max                   16093 non-null  float64
dtypes: float64(16), int64(6), object(10)
memory usage: 3.9+ MB

In [4]:
# List of all columns that have more than 50% missing values.

array=[]
lst=list(raw_data.columns)
for i in lst:
    if raw_data[i].isnull().mean()>0.50:
        array.append(i)

array

['activity_new',
 'campaign_disc_ele',
 'date_first_activ',
 'forecast_base_bill_ele',
 'forecast_base_bill_year',
 'forecast_bill_12m',
 'forecast_cons']

In [5]:
raw_data.drop(array,axis=1,inplace=True)

In [6]:
raw_data2=pd.read_csv('ml_case_training_hist_data.csv')
raw_data2.head()

,id,price_date,price_p1_var,price_p2_var,price_p3_var,price_p1_fix,price_p2_fix,price_p3_fix
0,038af19179925da21a25619c5a24b745,2015-01-01,0.151367,0.0,0.0,44.266931,0.0,0.0
1,038af19179925da21a25619c5a24b745,2015-02-01,0.151367,0.0,0.0,44.266931,0.0,0.0
2,038af19179925da21a25619c5a24b745,2015-03-01,0.151367,0.0,0.0,44.266931,0.0,0.0
3,038af19179925da21a25619c5a24b745,2015-04-01,0.149626,0.0,0.0,44.266931,0.0,0.0
4,038af19179925da21a25619c5a24b745,2015-05-01,0.149626,0.0,0.0,44.266931,0.0,0.0

In [7]:
raw_data2.id.value_counts()

d7b26a46f4b0514a5aeb427c5bfd14cd    12
12eb452b1522e892ba30e32addc88623    12
1c9a69e3b4388cd85a8bcc57ecb18f9f    12
ac39861da01a78647885f58a12762e11    12
741ef9d1dddee0bb8b71ba278e201cf3    12
                                    ..
223a98d3832ece78cbf279a194868b54     8
3e459d61dc831e29f8a9a9a59f95efd2     8
c5dcd5c506e565aaabffa29bc1ec0a37     7
bf89f2d8c1b133a134fd93603cb4c947     7
15b36e47cf04bf151e3f4438d12672e5     7
Name: id, Length: 16096, dtype: int64

In [8]:
raw_data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193002 entries, 0 to 193001
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            193002 non-null  object
 1   price_date    193002 non-null  object
 2   price_p1_var  191643 non-null  float64
 3   price_p2_var  191643 non-null  float64
 4   price_p3_var  191643 non-null  float64
 5   price_p1_fix  191643 non-null  float64
 6   price_p2_fix  191643 non-null  float64
 7   price_p3_fix  191643 non-null  float64
dtypes: float64(6), object(2)
memory usage: 11.8+ MB

In [9]:
raw_data2.isnull().sum()

id                 0
price_date         0
price_p1_var    1359
price_p2_var    1359
price_p3_var    1359
price_p1_fix    1359
price_p2_fix    1359
price_p3_fix    1359
dtype: int64

In [10]:
raw_data2[raw_data2.price_p1_var.isnull()]['id'].value_counts()

# We can see below that 2 id's are having null values for all 12 months of 2015, thus we should remove these two customers.

8d7da64122bba29af851e7252ae36484    12
a375227dbd198e4702f2c522c2d78f68    12
822030651e9bb1921f28611322aae09b     4
33bb3af90650ac2e9ecac6ff2c975a6b     4
bd81285c6614859c9fbf1dee110d57ea     3
                                    ..
ea91de46110da8177666ea62324a7aaf     1
d29fe4478ce2c571337f5f4ad09f3f15     1
508876fbe29e755beaac085a569155c2     1
7c216e3988159b70987760db318d1087     1
0f35203bd63fc4707dbbc757a6ba930e     1
Name: id, Length: 1207, dtype: int64

In [11]:
raw_data2[raw_data2.id=='8d7da64122bba29af851e7252ae36484']

,id,price_date,price_p1_var,price_p2_var,price_p3_var,price_p1_fix,price_p2_fix,price_p3_fix
31995,8d7da64122bba29af851e7252ae36484,2015-01-01,NaN,NaN,NaN,NaN,NaN,NaN
31996,8d7da64122bba29af851e7252ae36484,2015-02-01,NaN,NaN,NaN,NaN,NaN,NaN
31997,8d7da64122bba29af851e7252ae36484,2015-03-01,NaN,NaN,NaN,NaN,NaN,NaN
31998,8d7da64122bba29af851e7252ae36484,2015-04-01,NaN,NaN,NaN,NaN,NaN,NaN
31999,8d7da64122bba29af851e7252ae36484,2015-05-01,NaN,NaN,NaN,NaN,NaN,NaN
32000,8d7da64122bba29af851e7252ae36484,2015-06-01,NaN,NaN,NaN,NaN,NaN,NaN
32001,8d7da64122bba29af851e7252ae36484,2015-07-01,NaN,NaN,NaN,NaN,NaN,NaN
32002,8d7da64122bba29af851e7252ae36484,2015-08-01,NaN,NaN,NaN,NaN,NaN,NaN
32003,8d7da64122bba29af851e7252ae36484,2015-09-01,NaN,NaN,NaN,NaN,NaN,NaN
32004,8d7da64122bba29af851e7252ae36484,2015-10-01,NaN,NaN,NaN,NaN,NaN,NaN
32005,8d7da64122bba29af851e7252ae36484,2015-11-01,NaN,NaN,NaN,NaN,NaN,NaN
32006,8d7da64122bba29af851e7252ae36484,2015-12-01,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
raw_data.loc[raw_data.id=='a375227dbd198e4702f2c522c2d78f68']

,id,channel_sales,cons_12m,cons_gas_12m,cons_last_month,date_activ,date_end,date_modif_prod,date_renewal,forecast_cons_12m,...,forecast_price_pow_p1,has_gas,imp_cons,margin_gross_pow_ele,margin_net_pow_ele,nb_prod_act,net_margin,num_years_antig,origin_up,pow_max
9687,a375227dbd198e4702f2c522c2d78f68,NaN,5207,0,0,2005-02-02,2016-02-15,NaN,2015-02-16,0.0,...,NaN,f,0.0,0.12,0.12,1,76.29,11,ldkssxwpmemidmecebumciepifcamkci,66.0

In [13]:
raw_data.loc[raw_data.id=='8d7da64122bba29af851e7252ae36484']

,id,channel_sales,cons_12m,cons_gas_12m,cons_last_month,date_activ,date_end,date_modif_prod,date_renewal,forecast_cons_12m,...,forecast_price_pow_p1,has_gas,imp_cons,margin_gross_pow_ele,margin_net_pow_ele,nb_prod_act,net_margin,num_years_antig,origin_up,pow_max
11386,8d7da64122bba29af851e7252ae36484,foosdfpfkusacimwkcsosbicdxkicaua,2080,0,0,2013-05-01,2016-05-01,2013-05-01,2015-05-02,0.0,...,NaN,f,0.0,-0.24,-0.24,1,1198.4,3,lxidpiddsbxsbosboudacockeimpuepw,120.0

In [14]:
# we also have to remove those two id's from raw_data DataFrame.
# Those two id's have index number 9687 and 11386 in raw_data.
raw_data.drop([9687,11386],axis=0,inplace=True)

In [15]:
raw_data=raw_data.reset_index()
raw_data.drop('index',axis=1,inplace=True)

In [16]:
raw_data.head(3)

,id,channel_sales,cons_12m,cons_gas_12m,cons_last_month,date_activ,date_end,date_modif_prod,date_renewal,forecast_cons_12m,...,forecast_price_pow_p1,has_gas,imp_cons,margin_gross_pow_ele,margin_net_pow_ele,nb_prod_act,net_margin,num_years_antig,origin_up,pow_max
0,48ada52261e7cf58715202705a0451c9,lmkebamcaaclubfxadlmueccxoimlema,309275,0,10025,2012-11-07,2016-11-06,2012-11-07,2015-11-09,26520.30,...,58.995952,f,831.8,-41.76,-41.76,1,1732.36,3,ldkssxwpmemidmecebumciepifcamkci,180.000
1,24011ae4ebbe3035111d65fa7c15bc57,foosdfpfkusacimwkcsosbicdxkicaua,0,54946,0,2013-06-15,2016-06-15,NaN,2015-06-23,0.00,...,40.606701,t,0.0,25.44,25.44,2,678.99,3,lxidpiddsbxsbosboudacockeimpuepw,43.648
2,d29c2c54acc38ff3c0614d0a653813dd,NaN,4660,0,0,2009-08-21,2016-08-30,2009-08-21,2015-08-31,189.95,...,44.311378,f,0.0,16.38,16.38,1,18.89,6,kamkkxfxxuwbdslkwifmmcsiusiuosws,13.800

In [17]:
# removing those two id's from raw_data2.
raw_data2=raw_data2.loc[raw_data2.id!='8d7da64122bba29af851e7252ae36484',:]
raw_data2=raw_data2.loc[raw_data2.id!='a375227dbd198e4702f2c522c2d78f68',:]
raw_data2.reset_index(inplace=True)
raw_data2.drop('index',axis=1,inplace=True)
raw_data2.tail()

,id,price_date,price_p1_var,price_p2_var,price_p3_var,price_p1_fix,price_p2_fix,price_p3_fix
192973,16f51cdc2baa19af0b940ee1b3dd17d5,2015-08-01,0.119916,0.102232,0.076257,40.728885,24.43733,16.291555
192974,16f51cdc2baa19af0b940ee1b3dd17d5,2015-09-01,0.119916,0.102232,0.076257,40.728885,24.43733,16.291555
192975,16f51cdc2baa19af0b940ee1b3dd17d5,2015-10-01,0.119916,0.102232,0.076257,40.728885,24.43733,16.291555
192976,16f51cdc2baa19af0b940ee1b3dd17d5,2015-11-01,0.119916,0.102232,0.076257,40.728885,24.43733,16.291555
192977,16f51cdc2baa19af0b940ee1b3dd17d5,2015-12-01,0.119916,0.102232,0.076257,40.728885,24.43733,16.291555

In [18]:
raw_data2[raw_data2.price_p1_var.isnull()]['id'].value_counts()

# We can now see that no id's are such for which there are more than 6 missing values.

33bb3af90650ac2e9ecac6ff2c975a6b    4
822030651e9bb1921f28611322aae09b    4
bd81285c6614859c9fbf1dee110d57ea    3
fbde8c8984f0c9530e805750d499d074    3
dbac79274d2ae413ece7470420a0671c    3
                                   ..
ea91de46110da8177666ea62324a7aaf    1
d29fe4478ce2c571337f5f4ad09f3f15    1
508876fbe29e755beaac085a569155c2    1
7c216e3988159b70987760db318d1087    1
0f35203bd63fc4707dbbc757a6ba930e    1
Name: id, Length: 1205, dtype: int64

In [19]:
raw_data2[raw_data2.price_p1_var.isnull()].isnull().sum()
# This shows that id's for which 'price_p1_var' is null are same for all other 'price...' features.
# Thus now we can drop all rows which are having any null value.

id                 0
price_date         0
price_p1_var    1335
price_p2_var    1335
price_p3_var    1335
price_p1_fix    1335
price_p2_fix    1335
price_p3_fix    1335
dtype: int64

In [20]:
raw_data2.dropna(how='any',inplace=True)
raw_data2.isnull().sum()

id              0
price_date      0
price_p1_var    0
price_p2_var    0
price_p3_var    0
price_p1_fix    0
price_p2_fix    0
price_p3_fix    0
dtype: int64

In [21]:
raw_data2.reset_index(inplace=True)
raw_data2.drop('index',axis=1,inplace=True)
raw_data2.head()

,id,price_date,price_p1_var,price_p2_var,price_p3_var,price_p1_fix,price_p2_fix,price_p3_fix
0,038af19179925da21a25619c5a24b745,2015-01-01,0.151367,0.0,0.0,44.266931,0.0,0.0
1,038af19179925da21a25619c5a24b745,2015-02-01,0.151367,0.0,0.0,44.266931,0.0,0.0
2,038af19179925da21a25619c5a24b745,2015-03-01,0.151367,0.0,0.0,44.266931,0.0,0.0
3,038af19179925da21a25619c5a24b745,2015-04-01,0.149626,0.0,0.0,44.266931,0.0,0.0
4,038af19179925da21a25619c5a24b745,2015-05-01,0.149626,0.0,0.0,44.266931,0.0,0.0

In [22]:
raw_data2.id.value_counts()
# We can see that all id's are having atleast 7 values of 'price...' features

d7b26a46f4b0514a5aeb427c5bfd14cd    12
523bbd783a47eee260379ea4236c49b9    12
ccd5d1cd3a2b6080bf9886f68235de7a    12
de34e160138f53963ee8e44dfa9da778    12
7749d06331352f892e84cce5e0f5a62c    12
                                    ..
3e459d61dc831e29f8a9a9a59f95efd2     8
c5dcd5c506e565aaabffa29bc1ec0a37     7
15b36e47cf04bf151e3f4438d12672e5     7
223a98d3832ece78cbf279a194868b54     7
bf89f2d8c1b133a134fd93603cb4c947     7
Name: id, Length: 16094, dtype: int64

In [23]:
raw_data.id.value_counts()
# All rows in raw_data are having unique id's.

d7b26a46f4b0514a5aeb427c5bfd14cd    1
622161f46b9540cacaa0e6a98b99c1f5    1
9ce947e4e70d96de5489ad1297b5ae11    1
1908e38e0a61791caaaf19980a3bf483    1
3a62570c5b3e611b1505eb935b7314fc    1
                                   ..
9006c8b7663ff0ff03ba4d364bf22bfa    1
c1f63b046253b469d79b1b3b5abf892e    1
0fa9a2d72ee47f5bf3c203c13397869d    1
9d5b9c18bca6791df631b8b6c5f4675c    1
616ea771d495aca3eb5f3f52cb97e503    1
Name: id, Length: 16094, dtype: int64

In [24]:
set(raw_data.id.unique())==set(raw_data2.id.unique())

True

In [25]:
raw_data2.describe()

,price_p1_var,price_p2_var,price_p3_var,price_p1_fix,price_p2_fix,price_p3_fix
count,191643.000000,191643.000000,191643.000000,191643.000000,191643.000000,191643.000000
mean,0.140991,0.054412,0.030712,43.325546,10.698201,6.455436
std,0.025117,0.050033,0.036335,5.437952,12.856046,7.782279
min,0.000000,0.000000,0.000000,-0.177779,-0.097752,-0.065172
25%,0.125976,0.000000,0.000000,40.728885,0.000000,0.000000
50%,0.146033,0.085483,0.000000,44.266930,0.000000,0.000000
75%,0.151635,0.101780,0.072558,44.444710,24.339581,16.226389
max,0.280700,0.229788,0.114102,59.444710,36.490692,17.458221

In [26]:
hist_data=raw_data2.groupby(['id']).mean().reset_index()
hist_data.head()
# grouping raw_data2 by id's and taking mean of all 'price...' features having same id's.

,id,price_p1_var,price_p2_var,price_p3_var,price_p1_fix,price_p2_fix,price_p3_fix
0,0002203ffbb812588b632b9e628cc38d,0.124338,0.103794,0.073160,40.701732,24.421038,16.280694
1,0004351ebdd665e6ee664792efc4fd13,0.146426,0.000000,0.000000,44.385450,0.000000,0.000000
2,0010bcc39e42b3c2131ed2ce55246e3c,0.181558,0.000000,0.000000,45.319710,0.000000,0.000000
3,0010ee3855fdea87602a5b7aba8e42de,0.118757,0.098292,0.069032,40.647427,24.388455,16.258971
4,00114d74e963e47177db89bc70108537,0.147926,0.000000,0.000000,44.266930,0.000000,0.000000

In [27]:
hist_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16094 entries, 0 to 16093
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            16094 non-null  object
 1   price_p1_var  16094 non-null  float64
 2   price_p2_var  16094 non-null  float64
 3   price_p3_var  16094 non-null  float64
 4   price_p1_fix  16094 non-null  float64
 5   price_p2_fix  16094 non-null  float64
 6   price_p3_fix  16094 non-null  float64
dtypes: float64(6), object(1)
memory usage: 880.3+ KB

In [28]:
# joining raw_data and hist_data.
df_features=raw_data.join(other=hist_data.set_index('id'),on='id')
df_features.head()

,id,channel_sales,cons_12m,cons_gas_12m,cons_last_month,date_activ,date_end,date_modif_prod,date_renewal,forecast_cons_12m,...,net_margin,num_years_antig,origin_up,pow_max,price_p1_var,price_p2_var,price_p3_var,price_p1_fix,price_p2_fix,price_p3_fix
0,48ada52261e7cf58715202705a0451c9,lmkebamcaaclubfxadlmueccxoimlema,309275,0,10025,2012-11-07,2016-11-06,2012-11-07,2015-11-09,26520.30,...,1732.36,3,ldkssxwpmemidmecebumciepifcamkci,180.000,0.103449,0.092115,0.067241,58.956502,36.356887,8.337051
1,24011ae4ebbe3035111d65fa7c15bc57,foosdfpfkusacimwkcsosbicdxkicaua,0,54946,0,2013-06-15,2016-06-15,NaN,2015-06-23,0.00,...,678.99,3,lxidpiddsbxsbosboudacockeimpuepw,43.648,0.122856,0.102137,0.072579,40.640023,24.384011,16.256008
2,d29c2c54acc38ff3c0614d0a653813dd,NaN,4660,0,0,2009-08-21,2016-08-30,2009-08-21,2015-08-31,189.95,...,18.89,6,kamkkxfxxuwbdslkwifmmcsiusiuosws,13.800,0.149934,0.000000,0.000000,44.315416,0.000000,0.000000
3,764c75f661154dac3a6c254cd082ea7d,foosdfpfkusacimwkcsosbicdxkicaua,544,0,0,2010-04-16,2016-04-16,2010-04-16,2015-04-17,47.96,...,6.60,6,kamkkxfxxuwbdslkwifmmcsiusiuosws,13.856,0.170512,0.088421,0.000000,44.385450,0.000000,0.000000
4,bba03439a292a1e166f80264c16191cb,lmkebamcaaclubfxadlmueccxoimlema,1584,0,0,2010-03-30,2016-03-30,2010-03-30,2015-03-31,240.04,...,25.46,6,kamkkxfxxuwbdslkwifmmcsiusiuosws,13.200,0.151210,0.000000,0.000000,44.400265,0.000000,0.000000

In [29]:
df_features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16094 entries, 0 to 16093
Data columns (total 31 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        16094 non-null  object
 1   channel_sales             11877 non-null  object
 2   cons_12m                  16094 non-null  int64
 3   cons_gas_12m              16094 non-null  int64
 4   cons_last_month           16094 non-null  int64
 5   date_activ                16094 non-null  object
 6   date_end                  16092 non-null  object
 7   date_modif_prod           15938 non-null  object
 8   date_renewal              16054 non-null  object
 9   forecast_cons_12m         16094 non-null  float64
 10  forecast_cons_year        16094 non-null  int64
 11  forecast_discount_energy  15970 non-null  float64
 12  forecast_meter_rent_12m   16094 non-null  float64
 13  forecast_price_energy_p1  15970 non-null  float64
 14  forecast_price_energy_p2  15970 non-null  float64
 15  forecast_price_pow_p1     15970 non-null  float64
 16  has_gas                   16094 non-null  object
 17  imp_cons                  16094 non-null  float64
 18  margin_gross_pow_ele      16081 non-null  float64
 19  margin_net_pow_ele        16081 non-null  float64
 20  nb_prod_act               16094 non-null  int64
 21  net_margin                16079 non-null  float64
 22  num_years_antig           16094 non-null  int64
 23  origin_up                 16007 non-null  object
 24  pow_max                   16091 non-null  float64
 25  price_p1_var              16094 non-null  float64
 26  price_p2_var              16094 non-null  float64
 27  price_p3_var              16094 non-null  float64
 28  price_p1_fix              16094 non-null  float64
 29  price_p2_fix              16094 non-null  float64
 30  price_p3_fix              16094 non-null  float64
dtypes: float64(17), int64(6), object(8)
memory usage: 3.8+ MB

In [30]:
churn_data=pd.read_csv('ml_case_training_output.csv')
churn_data.head()

                                 id  churn
0  48ada52261e7cf58715202705a0451c9      0
1  24011ae4ebbe3035111d65fa7c15bc57      1
2  d29c2c54acc38ff3c0614d0a653813dd      0
3  764c75f661154dac3a6c254cd082ea7d      0
4  bba03439a292a1e166f80264c16191cb      0

In [31]:
churn_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16096 entries, 0 to 16095
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      16096 non-null  object
 1   churn   16096 non-null  int64
dtypes: int64(1), object(1)
memory usage: 251.6+ KB

In [32]:
churn_data.churn.value_counts()

0    14501
1     1595
Name: churn, dtype: int64

In [33]:
# to remove those two id's (for which all 'price...' features were null for all 12 months of 2015) from churn_data. 
removal=[i for i in list(churn_data.id.unique()) if i not in list(df_features.id.unique())]

In [34]:
removal

['a375227dbd198e4702f2c522c2d78f68', '8d7da64122bba29af851e7252ae36484']

In [35]:
churn_data=churn_data.loc[churn_data.id!=removal[0],:]
churn_data=churn_data.loc[churn_data.id!=removal[1],:]
churn_data.head(10)

                                 id  churn
0  48ada52261e7cf58715202705a0451c9      0
1  24011ae4ebbe3035111d65fa7c15bc57      1
2  d29c2c54acc38ff3c0614d0a653813dd      0
3  764c75f661154dac3a6c254cd082ea7d      0
4  bba03439a292a1e166f80264c16191cb      0
5  568bb38a1afd7c0fc49c77b3789b59a3      0
6  149d57cf92fc41cf94415803a877cb4b      0
7  1aa498825382410b098937d65c4ec26d      1
8  7ab4bf4878d8f7661dfc20e9b8e18011      1
9  01495c955be7ec5e7f3203406785aae0      0

In [36]:
churn_data.reset_index(inplace=True)
churn_data.drop('index',axis=1,inplace=True)
churn_data.tail()

                                     id  churn
16089  18463073fb097fc0ac5d3e040f356987      0
16090  d0a6f71671571ed83b2645d23af6de00      1
16091  10e6828ddd62cbcf687cb74928c4c2d2      1
16092  1cf20fd6206d7678d5bcafd28c53b4db      0
16093  563dde550fd624d7352f3de77c0cdfcd      0

In [37]:
churn_data.id.value_counts()

d7b26a46f4b0514a5aeb427c5bfd14cd    1
622161f46b9540cacaa0e6a98b99c1f5    1
9ce947e4e70d96de5489ad1297b5ae11    1
1908e38e0a61791caaaf19980a3bf483    1
3a62570c5b3e611b1505eb935b7314fc    1
                                   ..
9006c8b7663ff0ff03ba4d364bf22bfa    1
c1f63b046253b469d79b1b3b5abf892e    1
0fa9a2d72ee47f5bf3c203c13397869d    1
9d5b9c18bca6791df631b8b6c5f4675c    1
616ea771d495aca3eb5f3f52cb97e503    1
Name: id, Length: 16094, dtype: int64

In [38]:
# joining churn_data with df_features.
df_training=df_features.join(other=churn_data.set_index('id'),on='id')
df_training.head()

,id,channel_sales,cons_12m,cons_gas_12m,cons_last_month,date_activ,date_end,date_modif_prod,date_renewal,forecast_cons_12m,...,num_years_antig,origin_up,pow_max,price_p1_var,price_p2_var,price_p3_var,price_p1_fix,price_p2_fix,price_p3_fix,churn
0,48ada52261e7cf58715202705a0451c9,lmkebamcaaclubfxadlmueccxoimlema,309275,0,10025,2012-11-07,2016-11-06,2012-11-07,2015-11-09,26520.30,...,3,ldkssxwpmemidmecebumciepifcamkci,180.000,0.103449,0.092115,0.067241,58.956502,36.356887,8.337051,0
1,24011ae4ebbe3035111d65fa7c15bc57,foosdfpfkusacimwkcsosbicdxkicaua,0,54946,0,2013-06-15,2016-06-15,NaN,2015-06-23,0.00,...,3,lxidpiddsbxsbosboudacockeimpuepw,43.648,0.122856,0.102137,0.072579,40.640023,24.384011,16.256008,1
2,d29c2c54acc38ff3c0614d0a653813dd,NaN,4660,0,0,2009-08-21,2016-08-30,2009-08-21,2015-08-31,189.95,...,6,kamkkxfxxuwbdslkwifmmcsiusiuosws,13.800,0.149934,0.000000,0.000000,44.315416,0.000000,0.000000,0
3,764c75f661154dac3a6c254cd082ea7d,foosdfpfkusacimwkcsosbicdxkicaua,544,0,0,2010-04-16,2016-04-16,2010-04-16,2015-04-17,47.96,...,6,kamkkxfxxuwbdslkwifmmcsiusiuosws,13.856,0.170512,0.088421,0.000000,44.385450,0.000000,0.000000,0
4,bba03439a292a1e166f80264c16191cb,lmkebamcaaclubfxadlmueccxoimlema,1584,0,0,2010-03-30,2016-03-30,2010-03-30,2015-03-31,240.04,...,6,kamkkxfxxuwbdslkwifmmcsiusiuosws,13.200,0.151210,0.000000,0.000000,44.400265,0.000000,0.000000,0

In [39]:
df_training.to_csv('merged_data_training.csv')

In [40]:
df=pd.read_csv('merged_data_training.csv',index_col=0)
df.head()

,id,channel_sales,cons_12m,cons_gas_12m,cons_last_month,date_activ,date_end,date_modif_prod,date_renewal,forecast_cons_12m,...,num_years_antig,origin_up,pow_max,price_p1_var,price_p2_var,price_p3_var,price_p1_fix,price_p2_fix,price_p3_fix,churn
0,48ada52261e7cf58715202705a0451c9,lmkebamcaaclubfxadlmueccxoimlema,309275,0,10025,2012-11-07,2016-11-06,2012-11-07,2015-11-09,26520.30,...,3,ldkssxwpmemidmecebumciepifcamkci,180.000,0.103449,0.092115,0.067241,58.956502,36.356887,8.337051,0
1,24011ae4ebbe3035111d65fa7c15bc57,foosdfpfkusacimwkcsosbicdxkicaua,0,54946,0,2013-06-15,2016-06-15,NaN,2015-06-23,0.00,...,3,lxidpiddsbxsbosboudacockeimpuepw,43.648,0.122856,0.102137,0.072579,40.640023,24.384011,16.256008,1
2,d29c2c54acc38ff3c0614d0a653813dd,NaN,4660,0,0,2009-08-21,2016-08-30,2009-08-21,2015-08-31,189.95,...,6,kamkkxfxxuwbdslkwifmmcsiusiuosws,13.800,0.149934,0.000000,0.000000,44.315416,0.000000,0.000000,0
3,764c75f661154dac3a6c254cd082ea7d,foosdfpfkusacimwkcsosbicdxkicaua,544,0,0,2010-04-16,2016-04-16,2010-04-16,2015-04-17,47.96,...,6,kamkkxfxxuwbdslkwifmmcsiusiuosws,13.856,0.170512,0.088421,0.000000,44.385450,0.000000,0.000000,0
4,bba03439a292a1e166f80264c16191cb,lmkebamcaaclubfxadlmueccxoimlema,1584,0,0,2010-03-30,2016-03-30,2010-03-30,2015-03-31,240.04,...,6,kamkkxfxxuwbdslkwifmmcsiusiuosws,13.200,0.151210,0.000000,0.000000,44.400265,0.000000,0.000000,0